/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(Carpenter.svg);
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid #fff;
}

.profile-image:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #512da8;
    color: #fff;
}

/* Welcome Section */
.welcome-container {
    text-align: center;
    margin: auto;
    animation: fadeIn 4s ease-in-out;
}

.welcome-container h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.welcome-container p {
    font-size: 20px;
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: transparent;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: hsl(258, 65%, 35%);
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #ffd633;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal {
    display: none; /* Hide by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(27, 18, 18);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}
