.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 10px;
    }

    .menu.active {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        padding: 0;
    }

    .menu ul li {
        margin: 10px 0;
    }
}

.welcome-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.search-bar {
    margin-top: 20px;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #512da8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.search-bar button:hover {
    background-color: #673ab7;
}