{% extends "service_base.html" %}

{% block title %}Customer Service Dashboard | HandiQ{% endblock %}

{% block navbar_content %}
    <div class="navbar-content">
        <h1 id="welcome-message">Welcome, {{ username }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="status-container">
        <h1>Customer Service Dashboard</h1>
        <div class="status-toggle" id="status-toggle"></div>
    </div>

    <div class="status-message online" id="status-online">
        <div class="spinner"></div>
        <p>Waiting for your job...</p>
    </div>

    <div class="status-message offline" id="status-offline">
        <div class="spinner"></div>
        <p>You are offline <i class="fas fa-sad-tear"></i></p>
    </div>
{% endblock %}